@media (max-width:1280px) {
body { font-size:0.8em }
.wrap { width:100%; padding:0 20px }
#header .gnb .depth1 { padding:0 25px; }
#header .gnb .depth1 > a:before { left:30px }
#header.down { height:260px }
#header .btn_user { margin-right:20px }
#header .user { right:5px }
#main_visual .latest { margin-left:0; left:4%; bottom:10px }
.pic_lt .ts-controls { text-align:center; margin-top:10px }
.pic_lt .ts-controls button { display:none }
.pic_lt .ts-controls button.ts-paging-btn { display:inline-block; margin:0 3px; position:static; width:100%; background:none; width:20px; height:20px; border:1px solid #333; border-radius:50% }
.pic_lt .ts-controls button.ts-paging-btn.ts-paging-active { background:#333 }
.main_about {padding:80px 0 }
.main_about .img { width:50% }
.main_about .img img:first-child { width:83% }
.main_about .img img:last-child { width:50%; top:55%; left:45%; right:0 }
.main_about .text { width:45% }
.main_about .text h2 { font-size:70px; margin-bottom:35px }
.main_about .text h3 { font-size:22px; margin-bottom:25px }
.main_about .text p { font-size:16px; margin:0 0 23px }
.main_about .btn_area a { width:120px; height:34px; line-height:32px; font-size:15px; margin-top:5px }
.main_about dl dt { font-size:20px; margin:40px 0 10px 0 }
.main_about dl dd { font-size:28px }
.main_product, .main_bbs { padding:60px 0 }
.main_product h2, .main_gallery h2 { font-size:30px }
.main_gallery h2 { top:60px }
.main_gallery .fotorama__nav-wrap { top:120px }
#footer { margin:60px 0 0 0; padding:40px 0 }
#footer .f_left { margin-left:45px }
#footer nav { right:20px }
#snb .wrap { padding:0 }
#snb li:first-child { border-left:0 }
#snb li:last-child { border-right:0 }
#contents { margin:55px 0 0 0 }
.container_title { font-size:2.4em; margin:0 0 40px }
.history_list { padding:0 4% }
.tbl_head01 td, .tbl_head01 th { padding:12px 7px !important }
#bo_list .td_num2 { width:50px }
.td_thumb { width:150px }
#bo_list .td_datetime { width:80px }
#bo_gall .gall_info .gall_view { display:none }
#faq_sch .frm_input, #faq_sch .btn_submit { height:40px }
#bo_v iframe { width: 100%; height:43vw }
#sch_res_detail select, #sch_res_detail select { width:120px }
#sch_res_detail .sch_wr { width:calc(100% - 380px) }
}

@media (max-width:1023px) {
body { font-size:0.8em }
.wrap { width:100%; padding:0 4% }
.pc_only { display:none !important }
.mobile_only { display:block !important }
.mobile_no { display:none !important }

#header { height:90px !important }
#header h1 { line-height:88px }
#header .btn_user { position:absolute; right:70px; top:25px; font-size:22px; z-index:8; float:none; margin:0 }
#header .btn_gnb { position:absolute; right:30px; top:25px; font-size:22px; z-index:10; }
#header .btn_gnb.on { color:#fff; transform:rotate(-90deg) }
#header .btn_search { position:absolute; right:105px; top:25px; font-size:22px; z-index:8; float:none; margin:0 }
#header .gnb { position:fixed; width:250px; background:#376da4; height:100%; top:0; right:-250px; margin:0; float:none; z-index:9; padding-top:60px; transition:all .3s }
#header .gnb.on { right:0; }
#header.down .gnb a { color: #fff }
#header.down .gnb .depth1 > a { margin-bottom:0 }
#header.down .gnb .depth1:hover > a { color:#fff }
#header .gnb .depth1 ul { display:none; height:0; transition:all .3s; background:rgba(0,0,0,0.3); margin:0 -25px; padding:10px 0 10px 30px }
#header .gnb .depth1.on ul { display:block; height:auto }
#header .gnb .depth1 > a:before { display:none }
#header .gnb .depth1 { padding:0 25px; float:none }
#header .gnb .depth1 > a { height:50px; line-height:50px; display:block }
#header .gnb .depth1 i { position:absolute; top:0; right:0; width:60px; height:50px; line-height:50px; text-align:center; z-index:2; padding-right:10px }
#header .gnb .depth2 > a { padding:10px 0 }
#header .sns { float:none; text-align:center; margin:30px 0 0 0 }
#header .sns li { float:none; display:inline-block; margin:0 10px }

#header .user { right:38px; top:70px }
#header .user.on a { color:rgba(0,0,0,0.7) }

#header.on { background:#fff }
#header.on .gnb { margin:0 }
#header.on .gnb a { color:#fff }
#header.on .btn_user, #header.on .btn_search { margin-top:0 }

#footer { padding:30px 0 }
#footer h1 { display:none }
#footer .f_left { float:none !important; margin:0; }
#footer nav { position:static; margin:0 0 10px }
#footer nav li { margin:0 17px 0 0 }

#main_visual .slider h2 { padding:0 10%; margin:22vh 0 0 0 }
#main_visual .slider p { padding:0 10%; word-break:keep-all }
#main_visual .bx-controls { bottom:50px }
#main_visual .latest { width:300px }

.main_about .img { width:40% }
.main_about .img img { position:static !important }
.main_about .img img:first-child { width:100% }
.main_about .img img:last-child { width:100% }
.main_about .text { width:55% }
.main_about .text h2 { margin-left:0 }
.main_about .text h2 { font-size:60px }
.main_about .text h3 { font-size:20px }
.main_about dl dt { font-size:18px; margin-top:28px }
.main_about dl dd small { font-size:16px }
.main_bbs section { margin:0 10px; width:calc(100%/3 - 13.4px) }
.main_product h2, .main_gallery h2 { font-size:26px }
.main_gallery { background:#f0f0f0; padding:60px 0 0 0 }
.main_gallery h2 { position:static; color:#222; text-shadow:none }
.main_gallery .fotorama__nav-wrap { position:static; padding:5px 0 }
.main_gallery .fotorama__nav__shaft { border:0; background:transparent }

#sub_visual { height:300px }
#sub_visual h2 { padding-top:130px }

#contents { margin:50px 0 0 0; min-height:400px }
#contents .wrap { padding:0 3% }

#ctt_con { font-size:1.12em }

#ctt_con.sub01_01 .sec01 .img01 { width:35% }
#ctt_con.sub01_01 .sec01 > div { width:60% }
#ctt_con.sub01_02 .tab_menu a { font-size:30px }
.history_list { padding:0 }
.history_list > ul > li { width:48.5%; margin-top:40px }

#bo_gall .gall_li { width:calc(100%/3 - 10.1px) }
#bo_gall .gall_li:nth-child(4n + 1) { clear:none }
#bo_gall .gall_li:nth-child(3n + 1) { clear:none }
#bo_gall .gall_img:hover img { transform:none }
#bo_gall.listtype .gall_img + div { padding:15px 30px }
#bo_gall.listtype .bo_tit { font-size:1.6em }
#bo_gall .gall_list_con { max-height:38px; overflow:hidden; margin-top:5px }

#bo_v_act { margin:40px 0 !important }
#bo_v_desc { margin-top:40px }
.bo_v_nb { margin: 30px 0 }
#bo_vc_empty { padding:40px 0 !important }
#bo_v_con { min-height:50px }
#bo_v_info .sv_member, #bo_v_info .sv_guest, #bo_v_info .member, #bo_v_info .guest, #bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest { font-size:1.2em }
#bo_list .td_datetime { width:60px }
#bo_list .td_name { width:90px }
#captcha.m_captcha #captcha_key { height:40px; margin-top:5px }
#captcha.m_captcha #captcha_img { display:inline-block; width:120px; height:40px; }
#captcha.m_captcha #captcha_reload { margin-top:5px }
td .thumb { width:150px }
td .thumb ~ div { margin-left:170px }
#bo_v iframe { width: 100%; height:52vw }
#sch_res_board a { min-width:0; padding:0; height:auto; line-height:1; margin:3px 10px; border:0; font-size:13px }
#sch_res_board .sch_on { border:0 }
.bo_v_nb li a { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:inline-block; width:calc(100% - 120px); vertical-align:top }

}

@media (max-width:767px) {
.s_mobile_only { display:block !important }

#header { height:70px !important }
#header h1 { line-height:68px }
#header h1 a { width:107px; height:36px }
#header .btn_gnb { top:16px;  }
#header .btn_user { top:16px; }
#header .user { top:58px }
#header.on h1 { line-height:68px }
#header.on h1 a { background-position:0 -36px }
#header .btn_search { top:16px }
.hd_sch_wr .box { width:96% }
#footer { margin:40px 0 0 0; padding:25px 0 }
#footer nav li { display:inline-block; float:none; margin-bottom:5px }
#footer .copyright { font-size:0.9em; margin-top:15px }
#footer #top_btn { right:10px; bottom:10px }

#main_visual { height:auto }
#main_visual .bx-wrapper { height:560px }
#main_visual .slider h2 { font-size:2.4em }
#main_visual .slider p { font-size:1.3em; margin:17px 0 0 0 }
#main_visual .bx-controls { bottom:auto; top:490px }

#main_visual .latest { position:static; background:#333; width:100%; padding:20px 25px 10px 25px }
#main_visual .latest header h2 { font-size:24px }
#main_visual .latest header a { width:20px; height:20px }
#main_visual .latest header:after { width:30px; margin:10px 0 }
#main_visual .latest .con p.subj { font-size:17px; margin-bottom:5px }
#main_visual .latest .con p { font-size:14px; margin-bottom:5px }
#main_visual .latest .con p.date { font-size:18px }
#main_visual .latest .con a { margin:5px 0 20px; height:32px; line-height:30px; font-size:1.1em }

.main_about { padding:40px 0 }
.main_about .img { display:none }
.main_about .text { width:100%; float:none; padding:0 3% }
.main_about .text h2 { font-size:40px; margin:0 0 20px }
.main_about .text h3 { font-size:16px; margin:0 0 15px }
.main_about .text p { font-size:14px; margin:0 0 15px }
.main_about .text .btn_area { text-align:center }
.main_about dl dt { font-size:16px }
.main_about dl dd { font-size:26px }
.main_about dl dd small { font-size:12px; font-weight:500 }
.main_product, .main_bbs { padding:40px 0 }
.main_product h2 { margin:0 0 20px; font-size:1.6em }
.main_product .tab_menu li a { background:transparent }
.main_product .tab_con { margin-top:20px }
.main_product .pic_lt .ts-controls { text-align:left }
.pic_lt .ts-controls button.ts-paging-btn { margin:3px }

.main_gallery { padding-top:40px }
.main_gallery h2 { font-size:1.6em; padding:0; margin:0 0 20px }
.tab_menu li a { padding:0; margin:0 10px; border:0 }
.main_gallery .tab_con { margin-top:30px }
.pic_lt li .lt_name { font-size:1.3em }
.main_bbs { padding:0 0 25px }
.main_bbs .wrap { padding:0 }
.main_bbs section { width:100%; margin:25px 0 0 0; border-top:1px solid #e0e0e0; padding:0 20px; padding-top:25px }
.main_bbs section:first-child { margin:0; border:0; }
.main_bbs .lat .lt_more { right:20px; top:20px }

.root_daum_roughmap .wrap_map { height:250px !important }

#sub_visual { height:240px }
#sub_visual h2 { font-size:2.2em; padding-top:100px }
#sub_visual h2:after { bottom:-15px }

#snb .depth1 > li { width:calc(50% + 1px) }
#snb .depth1 > li:first-child { display:none; }
#snb .depth1 > li:nth-child(2) { border-left:0 }

#contents { min-height:300px; margin:40px 0 0 0 }
.container_title { font-size:2em; padding-top:15px; margin:0 0 30px }
.container_title:before { width:35px; height:2px; margin-left:-17.5px }

#right_area { padding-top:30px }

#bo_cate { margin-top:0 }
#bo_cate a { min-width:0; padding:0; height:auto; line-height:1; margin:3px 10px; border:0; font-size:13px }
#bo_cate #bo_cate_on { border:0 }
#bo_gall #gall_ul { margin:10px 0 0 0; }
#bo_gall .gall_li { width:100%; float:none; margin-left:0; margin-bottom:15px }
#bo_gall .bo_tit { white-space:normal }
#bo_v_item #bo_v_img { float:none; width:100%; margin-top:5px }
#bo_v_item #bo_v_summary { float:none; width:100%; margin:30px 0 0 0 }
#bo_v_summary .bo_v_title { font-size:1.5em }
#bo_v_summary .bo_v_title small { font-size:0.6em }
#bo_v_summary, #bo_v_desc { font-size:1em }
#bo_v_summary .refer { margin:12px 0 0 0 }
#bo_v_sns li a { width:50px; height:50px; line-height:50px }
#bo_v_share .btn { width:50px; height:50px; font-size:11px }
#bo_v_share .btn i { margin:8px 0 0 0 }
#bo_v_share { padding:25px 0 }
.bo_v_nb { margin:20px 0 }
#bo_v_desc { margin-top:30px }
.bo_vc_w_info .frm_input { width:49.5%; margin:0 }
.bo_vc_w_info #wr_password { float:right }
#bo_vc article .pf_img { display:none }
#bo_v_info .sv_member, #bo_v_info .sv_guest, #bo_v_info .member, #bo_v_info .guest, #bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest { font-size:1.1em }
#bo_gall.listtype .gall_img { float:none; width:100% }
#bo_gall.listtype .gall_img + div { float:none; width:100%; padding:20px; font-size:1em }
#bo_gall .bo_tit, #bo_gall.listtype .bo_tit { font-size:1.3em }
.gall_list_opt dt { min-width:60px; text-align:center }
.gall_list_opt dt, .gall_list_opt dd { font-size:.95em }
td .thumb { width:100%; float:none }
td .thumb ~ div { margin-left:0; margin-top:15px }
#bo_v_title { font-size:1.3em; font-weight:500 }
#bo_v_title .bo_v_tit { font-size:1em }
#bo_v_act { margin:30px 0 !important }
.bo_v_nb li .nb_tit { padding-right:0; width:65px; vertical-align:top }
.tbl_head01 td, .tbl_head01 th { font-size:1.05em }
#faq_sch .btn_submit { width:70px; }
#faq_sch .frm_input { width:calc(100% - 75px) }
#faq_sch .frm_input, #faq_sch .btn_submit { height:36px; font-size:1em }
#faq_sch { padding:20px; }
#faq_wrap li { font-size:1em }
#bo_v_con { font-size:1em }
#bo_list .td_stat, #bo_v_rel .td_stat { width:80px }
#bo_list .txt_rdy, #bo_v_rel .txt_rdy { padding:0 5px }
#bo_list .td_date { width:70px }
.bo_cate_link { float:none; display:block }
#bo_v_title .bo_v_cate { display:block; font-size:0.7em }
.bo_v_com > li { margin-left:0 }
.bo_sch { width:320px; margin-left:-160px }
.bo_sch .sch_input { width:240px }
#sch_res_detail { padding:15px }
#sch_res_detail select, #sch_res_detail select { width:49.4% }
#sch_res_detail .sch_wr { width:100%; margin:5px 0 0 0 }
.switch_field { padding-bottom:0 }
#sch_res_ov h2 { display:none }
#sch_res_ov ul { float:none }
.sch_res_list { font-size:.9em }
#bo_gall .gall_list_con { max-height:none; margin-top:10px }
#bo_v_info { margin:0 0 25px }
#bo_v_con { margin-top:0 }
#bo_v { font-size:1.05em }
#bo_list .txt_done, #bo_v_rel .txt_done { font-size:0.9em; padding:0 6px }
#bo_list .td_stat, #bo_v_rel .td_stat { width:70px }
.ctt_admin { font-size:13px }
input.hasDatepicker { width:150px; padding-right:0 !important }
#bo_v_ans h2 { font-size:1.3em }

ul.faq_list_board { font-size:1em }

.mbskin .mbskin_box { width:320px }
#mb_login #sns_login .txt { padding-left:0 !important }
#fregister p { padding:10px; line-height:1.3; font-size:1em; height:auto }
#sns_register h2 { display:none }
#sns_register .sns-wrap { width:100%; display:block; text-align:center }
#fregister h2 { font-size:1.1em }

#ctt_con { font-size:1em; overflow:hidden }
#ctt_con.sub01_01 .sec01 > div { float:none; width:100% }
#ctt_con.sub01_01 .sec01 h2 { font-size:1.5em }
#ctt_con.sub01_01 .sec01 .img01 { width:100%; float:none }
#ctt_con.sub01_01 .sec01 .img01 p { text-align:center }
#ctt_con h2.title { font-size:1.4em; padding-bottom:20px }
#ctt_con.sub01_01 th { width:auto }
#ctt_con.sub01_01 th, #ctt_con.sub01_01 td { padding:12px 7px; word-break:keep-all }
#ctt_con.sub01_02 .tab_menu a { font-size:16px; border:1px solid #e0e0e0; border-left:0; border-right:0; padding:10px 0; margin:0 }
#ctt_con.sub01_02 .tab_menu li.on a { border-color:#666 }
#ctt_con.sub01_02 .tab_menu { margin:0 0 30px }

#ctt_con.sub01_02 .tab_menu { margin:0 }
#ctt_con.sub01_02 .tab_menu a small { display:none }
.history_list h3 { font-size:1.9em }
.history_list li li { background-size:4px 4px; background-position:0 5px; padding-left:10px }
.history_list > ul > li { width:100%; margin-top:30px }
.os_mac.root_daum_roughmap .section_address .tit, .os_mac.root_daum_roughmap .section_address .txt { font-size:1em !important }


}