@media (max-width:1280px) {
body { font-size:0.8em }
#header.down { height:360px }
.wrap {width: 100%; padding: 0 30px}
#telnum {right: 2.5%}
    
#header .user .user_menu {right: 8%}
#header .util .search {right: 12%}
#header .util .e_btn {right: 2.5%}
#header .user .logIn, .logOut, .signUp, .myPage, .admin {width: 70px;right: 70px}

.pic_lt .ts-controls { display: none}
.pic_lt .ts-controls button { display:none }
.pic_lt .ts-controls button.ts-paging-btn { display:inline-block; margin:0 3px; position:static; width:100%; background:none; width:20px; height:20px; border:1px solid #333; border-radius:50% }
.pic_lt .ts-controls button.ts-paging-btn.ts-paging-active { background:#333 }

.main_about .img { width:50% }
.main_about .text { width:45% }
.main_about .btn_area a { width:120px; height:34px; line-height:32px; font-size:15px; margin-top:5px }

#footer .f_left { margin: 0 0 40px 8%;width: 50%}
#footer nav {right: 2.5%}
#footer .wrap2 ul{width: 100%; padding: 0 30px}
    
    
/*#snb .wrap { padding:0 }*/
/*#snb li:first-child { border-left:0 }
#snb li:last-child { border-right:0 }*/
#sub_visual h2{font-size: 3em;padding: 230px 0 0 0}
#contents { margin:55px 0 0 0 }
.container_title { font-size:2.4em; margin:0 0 40px }
.history_list { padding:0 4% }
.tbl_head01 td, .tbl_head01 th { padding:12px 7px !important }
#bo_list .td_num2 { width:50px }
.td_thumb { width:150px }
#bo_list .td_datetime { width:80px }
#bo_gall .gall_info .gall_view { display:none }
#faq_sch .frm_input, #faq_sch .btn_submit { height:40px }
#bo_v iframe { width: 100%; height:43vw }
#sch_res_detail select, #sch_res_detail select { width:120px }
#sch_res_detail .sch_wr { width:calc(100% - 380px) }
#rightQuick { display:none }
    
/* 개인정보처리방침 서비스 이용약관 공통*/
#ctt_con div.pv_tt{width:25%;font-size:1.3rem;font-weight:500;text-align:center;margin:0px 37.5% 60px;padding-bottom:10px;border-bottom:2px solid #333;} /* 타이틀 */
    
}

@media (max-width:1024px) {
body { font-size:0.8em }
.pc_only { display:none !important }
.mobile_only { display:block !important }
.mobile_no { display:none !important }

#header { height:90px !important }
#header .m_util_wrap {width: 100%;height: 70px}
#header .btn_gnb { position:absolute; top:25px; right: 2.5%; font-size:22px; z-index:10; }
#header .btn_gnb.on { color:#fff; transform:rotate(-90deg) }    
#header .btn_user { position:absolute; right:8%; top:25px; font-size:22px; z-index:10; float:none; margin:0 }
#header .btn_search { position:absolute; right:14%; top:25px; font-size:22px; z-index:10; float:none; margin:0 }
    
#header .dimmed {display: none;position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,0.8); }
#header .dimmed.on {display: block;z-index: 1}
    
#header .gnb { position:fixed; width:250px; background:#1f6272; height:100%; top:100px; right:-250px; margin:0; float:none; z-index:9; padding-top:100px; transition:all .3s }
#header .gnb.on { right:0; }
#header.down .gnb a { color: #fff }
#header.down .gnb .depth1 > a { margin-bottom:0 }
#header.down .gnb .depth1:hover > a { color:#fff }
#header .gnb .depth1 ul { display:none; height:0; transition:all .3s; background:rgba(0,0,0,0.3); margin:0 -25px; padding:10px 0 10px 40px }
#header .gnb .depth1.on ul { display:block; height:auto }
#header .gnb .depth1 > a:before { display:none }
#header .gnb .depth1 { text-align: left;padding:0 30px !important; float:none }
#header .gnb .depth1::before{display: none}
#header .gnb .depth1 > a { height:50px; line-height:50px; display:block }
#header .gnb .depth1 i { position:absolute; top:0; right:0; width:60px; height:50px; line-height:50px; text-align:center; z-index:2; padding-right:10px }
#header .gnb .depth2 > a { padding:10px 0 }
#header .sns { float:none; text-align:center; margin:30px 0 0 0 }
#header .sns li { float:none; display:inline-block; margin:0 10px }
    
#header .user { right:38px; top:70px }
#header .user.on a { color:rgba(0,0,0,0.7) }

#header.on { background:#fff }
#header.on .gnb { margin:0 }
#header.on .gnb a { color:#fff }
#header.on .btn_user, #header.on .btn_search { margin-top:0 }

#footer h1 { display:none }
#footer nav li:first-child { margin-left: 0}
#footer .f_left { margin: 0 0 30px 0;padding: 0;width: 100%}
#footer nav { position:static; margin:0 0 10px }
#footer nav li { margin:0 17px 0 0 }
#footer nav li.sites { position:absolute; right:0; top:-15px; margin:0 }
#footer dd { margin:0 20px 0 0 }


#main_visual .slider h2 { padding:0 10%; margin:44vh 0 0 0;font-size: 3em }
#main_visual .bx-controls { bottom:50px }
#main_visual .latest { width:300px }

.main_about .img { width:40% }
.main_about .img img { position:static !important }
.main_about .img img:first-child { width:100% }
.main_about .img img:last-child { width:100%;margin-top: 26px }
.main_about .text { width:55% }
    
.main_company { max-width:100%;padding: 80px 30px}
    
.main_bbs section { margin:0 10px; width:calc(100%/3 - 13.4px) }

.main_gallery { background:#f0f0f0; padding:60px 0 0 0 }
.main_gallery h2 { position:static; color:#222; text-shadow:none }
.main_gallery .fotorama__nav-wrap { position:static; padding:5px 0 }
.main_gallery .fotorama__nav__shaft { border:0; background:transparent }
    
.main_product .product_con ul li:nth-child(3){margin-right: 20px} 

#sub_visual { height:300px }
#sub_visual h2 {font-size: 2em;padding: 220px 0 0 0}

#contents { margin:50px 0 0 0; min-height:400px }
#contents .wrap { padding:0 3% }

#ctt_con { font-size:1.12em }

#ctt_con.sub01_01 .sec01 .img01 { width:35% }
#ctt_con.sub01_01 .sec01 > div { width:60% }
#ctt_con.sub01_02 .tab_menu a { font-size:30px }
.history_list { padding:0 }
.history_list > ul > li { width:48.5%; margin-top:40px }

#bo_gall .gall_li { width:calc(100%/3 - 10.1px) }
#bo_gall .gall_li:nth-child(4n + 1) { clear:none }
#bo_gall .gall_li:nth-child(3n + 1) { clear:none }
#bo_gall .gall_img:hover img { transform:none }
#bo_gall.listtype .gall_img + div { padding:15px 30px }
#bo_gall.listtype .bo_tit { font-size:1.6em }
#bo_gall .gall_list_con { max-height:38px; overflow:hidden; margin-top:5px }

#bo_v_act { margin:40px 0 !important }
#bo_v_desc { margin-top:40px }
.bo_v_nb { margin: 30px 0 }
#bo_vc_empty { padding:40px 0 !important }
#bo_v_con { min-height:50px }
#bo_v_info .sv_member, #bo_v_info .sv_guest, #bo_v_info .member, #bo_v_info .guest, #bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest { font-size:1.2em }
#bo_list .td_datetime { width:60px }
#bo_list .td_name { width:90px }
#captcha.m_captcha #captcha_key { height:40px; margin-top:5px }
#captcha.m_captcha #captcha_img { display:inline-block; width:120px; height:40px; }
#captcha.m_captcha #captcha_reload { margin-top:5px }
td .thumb { width:150px }
td .thumb ~ div { margin-left:170px }
#bo_v iframe { width: 100%; height:52vw }
#sch_res_board a { min-width:0; padding:0; height:auto; line-height:1; margin:3px 10px; border:0; font-size:13px }
#sch_res_board .sch_on { border:0 }
.bo_v_nb li a { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:inline-block; width:calc(100% - 120px); vertical-align:top }

/* 개인정보처리방침 서비스 이용약관 공통*/
#ctt_con div.pv_tt{width:40%;font-size:1.3rem;font-weight:500;text-align:center;margin:0px 30% 60px;padding-bottom:10px;border-bottom:2px solid #333;} /* 타이틀 */

#ctt_con div.pv_txt_indent{font-size:0.98rem;margin-left:25px;} /* 들여쓰기 문단 */
    
    
}

@media (max-width:768px) {
.s_mobile_only { display:block !important }
.s_mobile_none { display:none !important }
    
#logo_dna{height: 70px}
#logo_dna img{height: 50px;top: 10px}
    
#header { height:70px !important; top:70px;}     
#header h1 { line-height:68px }
#header h1 a { width:107px; height:36px }

#header .btn_gnb { top:18px;right: 30px}
#header .btn_user { top:18px;right: 70px }
#header .btn_search { top:18px;right: 110px }
#header .btn_tel{width: 50%; position: absolute;left: 30px;top: 25px;float: none;font-size: 1.2em;}
#header .btn_mail{position: absolute;left: 120px;top: 25px;float: none;font-size: 1.2em;}
    
#header .gnb {top: 70px;overflow-y: scroll}
#header .gnb .btn_bg.on {width: 250px;height: 70px;background: #1f6272;position: fixed;top: 70px;z-index: 40}
    
#header.on h1 { line-height:68px }
#header.on h1 a { background-position:0 -36px }
    
.hd_sch_wr .box { width:96% }
    
#footer h2 { margin-bottom: 30px }
#footer nav li { display:inline-block; float:none; margin-bottom:5px }
#footer .copyright { font-size:0.9em; margin-top:15px }
#footer #top_btn { right:10px; bottom:10px }
#footer nav li.sites select { width:120px }
#footer dl { line-height:1.5;text-align: justify }

#main_visual { height:auto }
#main_visual .bx-wrapper { height:560px }
#main_visual .slider h2 { font-size:2.2em;margin: 32vh 0 0 0 }
#main_visual h3 {padding: 8px 24px;font-size: 1em}
#main_visual .slider p { font-size:1.3em; margin:17px 0 0 0 }
#main_visual .bx-controls { bottom:auto; top:490px }

#main_visual .latest { position:static; background:#333; width:100%; padding:20px 25px 10px 25px }
#main_visual .latest header h2 { font-size:24px }
#main_visual .latest header a { width:20px; height:20px }
#main_visual .latest header:after { width:30px; margin:10px 0 }
#main_visual .latest .con p.subj { font-size:17px; margin-bottom:5px }
#main_visual .latest .con p { font-size:14px; margin-bottom:5px }
#main_visual .latest .con p.date { font-size:18px }
#main_visual .latest .con a { margin:5px 0 20px; height:32px; line-height:30px; font-size:1.1em }
    
.main_product .product_con ul li {float: left;width: calc(100% / 2 - 10px);margin: 0 5px}
.main_product .product_con ul li:nth-child(3){margin: 10px 5px 0}
.product_con ul li:last-child {margin: 10px 5px 0}

.main_about { padding:40px 0 }
.main_about .text {margin-top: 0}
    
.main_company .con_area ul li .tit {top: 20px}
    
.main_product, .main_bbs { padding:40px 0 }

.main_product .tab_menu li a { background:transparent }
.main_product .tab_con { margin-top:20px }
.main_product .pic_lt .ts-controls { text-align:left }
.pic_lt .ts-controls button.ts-paging-btn { margin:3px }
    
.main_gallery { padding-top:40px }
.main_gallery h2 { font-size:1.6em; padding:0; margin:0 0 20px }
.tab_menu li a { padding:0; margin:0 10px; border:0 }
.main_gallery .tab_con { margin-top:30px }
.pic_lt li .lt_name { font-size:1.3em }
.main_bbs { padding:0 0 25px }
.main_bbs .wrap { padding:0 }
.main_bbs section { width:100%; margin:25px 0 0 0; border-top:1px solid #e0e0e0; padding:0 20px; padding-top:25px }
.main_bbs section:first-child { margin:0; border:0; }
.main_bbs .lat .lt_more { right:20px; top:20px }

.root_daum_roughmap .wrap_map { height:250px !important }

#sub_visual { height:240px }
#sub_visual h2 {font-size: 2em;padding-top: 160px}
#sub_visual h2:after {width: 30px;margin-left: -14px}

#snb .depth1 > li { width:calc(50% + 1px) }
#snb .depth1 > li:first-child { display:none; }
#snb .depth1 > li:nth-child(2) { border-left:0 }

#contents { min-height:300px; margin:0 }
.container_title { font-size:2em; padding-top:15px; margin:0 0 30px }
.container_title:before { width:35px; height:2px; margin-left:-17.5px }
.tab01 ul { margin:0 0 0 -3px }
.tab01 li { float:left; width:calc(100%/2 - 3.1px); margin:1px 0 2px 3px }
.tab01 li a { margin:0; padding:10px 0; display:block }

#left_area { float:none; width:106%; margin:0 -3% }
/* 200327 islro 좌측메뉴 fix 해제 */
#left_area.fix { position:static }

#snb { border:0 }
.left_snb { text-align:justify; border-bottom:1px solid #e0e0e0 }
.left_snb h2 { display:none }
.left_snb ul { margin:2px 0 0 1px }
.left_snb li { float:left; width:calc(100%/2 + 1px); margin:-1px 0 0 -1px }
.left_snb li a { text-align:center; border:1px solid #e0e0e0; }
.left_snb li a:after { width:100%; background:#fff; right:0; top:auto; transform:none; bottom:0 }
.left_snb li:hover a { background:#fff }
.left_snb li.on a { border-color:#1c65c8; position:relative; z-index:1 }
.left_snb li.on a:after { display:none }
.left_cs { display:none }

#right_area { width:100%; float:none; padding:50px 4% 0 4%; min-height:inherit }
.container_title { display:none }

#bo_cate { margin-top:0 }
#bo_cate a { min-width:0; padding:0; height:auto; line-height:1; margin:3px 10px; border:0; font-size:13px }
#bo_cate #bo_cate_on { border:0 }
#bo_gall #gall_ul { margin:10px 0 0 0; }
#bo_gall .gall_li { width:100%; float:none; margin-left:0; margin-bottom:15px }
#bo_gall .bo_tit { white-space:normal }
#bo_v_item #bo_v_img { float:none; width:100%; margin-top:5px }
#bo_v_item #bo_v_summary { float:none; width:100%; margin:30px 0 0 0 }
#bo_v_summary .bo_v_title { font-size:1.5em }
#bo_v_summary .bo_v_title small { font-size:0.6em }
#bo_v_summary, #bo_v_desc { font-size:1em }
#bo_v_summary .refer { margin:12px 0 0 0 }
#bo_v_sns li a { width:50px; height:50px; line-height:50px }
#bo_v_share .btn { width:50px; height:50px; font-size:11px }
#bo_v_share .btn i { margin:8px 0 0 0 }
#bo_v_share { padding:25px 0 }
.bo_v_nb { margin:20px 0 }
#bo_v_desc { margin-top:30px }
.bo_vc_w_info .frm_input { width:49.5%; margin:0 }
.bo_vc_w_info #wr_password { float:right }
#bo_vc article .pf_img { display:none }
#bo_v_info .sv_member, #bo_v_info .sv_guest, #bo_v_info .member, #bo_v_info .guest, #bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest { font-size:1.1em }
#bo_gall.listtype .gall_img { float:none; width:100% }
#bo_gall.listtype .gall_img + div { float:none; width:100%; padding:20px; font-size:1em }
#bo_gall .bo_tit, #bo_gall.listtype .bo_tit { font-size:1.3em }
.gall_list_opt dt { min-width:60px; text-align:center }
.gall_list_opt dt, .gall_list_opt dd { font-size:.95em }
td .thumb { width:100%; float:none }
td .thumb ~ div { margin-left:0; margin-top:15px }
#bo_v_title { font-size:1.3em; font-weight:500 }
#bo_v_title .bo_v_tit { font-size:1em }
#bo_v_act { margin:30px 0 !important }
.bo_v_nb li .nb_tit { padding-right:0; width:65px; vertical-align:top }
.tbl_head01 td, .tbl_head01 th { font-size:1.05em }
#faq_sch .btn_submit { width:70px; }
#faq_sch .frm_input { width:calc(100% - 75px) }
#faq_sch .frm_input, #faq_sch .btn_submit { height:36px; font-size:1em }
#faq_sch { padding:20px; }
#faq_wrap li { font-size:1em }
#bo_v_con { font-size:1em }
#bo_list .td_stat, #bo_v_rel .td_stat { width:80px }
#bo_list .txt_rdy, #bo_v_rel .txt_rdy { padding:0 5px }
#bo_list .td_date { width:70px }
.bo_cate_link { float:none; display:block }
#bo_v_title .bo_v_cate { display:block; font-size:0.7em }
.bo_v_com > li { margin-left:0 }
.bo_sch { width:320px; margin-left:-160px }
.bo_sch .sch_input { width:240px }
#sch_res_detail { padding:15px }
#sch_res_detail select, #sch_res_detail select { width:49.4% }
#sch_res_detail .sch_wr { width:100%; margin:5px 0 0 0 }
.switch_field { padding-bottom:0 }
#sch_res_ov h2 { display:none }
#sch_res_ov ul { float:none }
.sch_res_list { font-size:.9em }
#bo_gall .gall_list_con { max-height:none; margin-top:10px }
#bo_v_info { margin:0 0 25px }
#bo_v_con { margin-top:0 }
#bo_v { font-size:1.05em }
#bo_list .txt_done, #bo_v_rel .txt_done { font-size:0.9em; padding:0 6px }
#bo_list .td_stat, #bo_v_rel .td_stat { width:70px }
.ctt_admin { font-size:13px }
input.hasDatepicker { width:150px; padding-right:0 !important }
#bo_v_ans h2 { font-size:1.3em }

ul.faq_list_board { font-size:1em }

.mbskin .mbskin_box { width:320px }
#mb_login #sns_login .txt { padding-left:0 !important }
#fregister p { padding:10px; line-height:1.3; font-size:1em; height:auto }
#sns_register h2 { display:none }
#sns_register .sns-wrap { width:100%; display:block; text-align:center }
#fregister h2 { font-size:1.1em }

#ctt_con { font-size:1em; overflow:hidden }
#ctt_con.sub01_01 .sec01 > div { float:none; width:100% }
#ctt_con.sub01_01 .sec01 h2 { font-size:1.5em }
#ctt_con.sub01_01 .sec01 .img01 { width:100%; float:none }
#ctt_con.sub01_01 .sec01 .img01 p { text-align:center }
#ctt_con h2.title { font-size:1.4em; padding-bottom:20px }
#ctt_con.sub01_01 th { width:auto }
#ctt_con.sub01_01 th, #ctt_con.sub01_01 td { padding:12px 7px; word-break:keep-all }
#ctt_con.sub01_02 .tab_menu a { font-size:16px; border:1px solid #e0e0e0; border-left:0; border-right:0; padding:10px 0; margin:0 }
#ctt_con.sub01_02 .tab_menu li.on a { border-color:#666 }
#ctt_con.sub01_02 .tab_menu { margin:0 0 30px }

#ctt_con.sub01_02 .tab_menu { margin:0 }
#ctt_con.sub01_02 .tab_menu a small { display:none }
.history_list h3 { font-size:1.9em }
.history_list li li { background-size:4px 4px; background-position:0 5px; padding-left:10px }
.history_list > ul > li { width:100%; margin-top:30px }
.os_mac.root_daum_roughmap .section_address .tit, .os_mac.root_daum_roughmap .section_address .txt { font-size:1em !important }


}

@media (max-width:640px) {
/* 개인정보처리방침 서비스 이용약관 공통*/
#ctt_con div.pv_content{font-size:0.9rem;padding:40px 5%;margin-top:30px;}
#ctt_con div.pv_tt{width:40%;font-size:1rem;margin:0 30% 40px;} /* 타이틀 */
#ctt_con div.pv_em{margin:20px 0 30px;padding-bottom:30px;} 
#ctt_con div.pv_sec{margin-bottom:30px;}/*큰 문단*/
#ctt_con p.pv_sec_tt{font-size:0.98rem;margin-bottom:15px;}/*큰 문단 속 타이틀*/
#ctt_con div.pv_txt_indent{font-size:0.88rem;margin-left:15px;} /* 들여쓰기 문단 */
#ctt_con span.pv_gray{font-size:0.85rem;}

/*서비스 이용약관*/
#ctt_con div.pv_txt_block_2{font-size:0.88rem;}/*문단 속 작은 문단*/
}


/*모바일 최소크기 360px부터 ~ iPhone 6/7/8 Plus 사이즈까지*/
@media (min-width:360px) and (max-width:414px) {
    
.main_company .con_area ul li.larg {float: none;width: 100%;margin-bottom: 20px;margin-right: 0}    
.main_company .con_area ul li.larg .view_mobile{display: block}
.main_company .con_area ul li.larg .view_pc{display: none}
.main_company .con_area ul li.small {float: none;width: 100%}    
.main_company .con_area ul li .tit {top: 20px}
.main_company .con_area ul li .tit strong {padding-bottom: 0}


.main_about { padding:40px 0}
.main_about .img { display:none }
    
.main_about .text { width:100%; float:none; padding:0 3% }
.main_about .text h2 { font-size:2.4em;}
.main_about .text h3 { font-size:1.5em }
.main_about .text p { font-size:1.1em }
/*.main_about .text .btn_area { text-align:center }*/
.main_about dl dt { font-size:16px }
.main_about dl dd { font-size:26px }
.main_about dl dd small { font-size:12px; font-weight:500 }
    
.main_product .product_con ul li {float: left;width: 100%;margin: 10px 0 0 }
.main_product .product_con ul li:first-child {margin: 0}
.main_product .product_con ul li:nth-child(3){margin: 10px 0 0}
.product_con ul li:last-child {margin: 10px 0 0} 


/* 개인정보처리방침 서비스 이용약관 공통*/
#ctt_con div.pv_tt{width:50%;font-size:1rem;margin:0 25% 40px;} /* 타이틀 */

}