@charset "utf-8";

/* 카테고리 */
.list-category .div-tab-box { margin-bottom:15px; }
.list-category .dropdown { margin-bottom:15px; }
.list-category .active a, .list-category .selected a { color:crimson; font-weight:bold !important; }

/* PC 목록 */
table.list-pc { border-bottom: 1px solid #ddd; margin-bottom:15px; }
table.list-pc th { white-space:nowrap; clear:both; height:43px; background: url('./img/head.gif') repeat-x !important; font-weight:bold; font-size:12px; color:#333; border:0px !important; padding:0px !important; margin:0px !important; text-align:center; }
table.list-pc th a { text-decoration:none; color:#333; }
table.list-pc th a:hover, table.bo-list th a:focus, table.bo-list th a:active { color:#000; }
table.list-pc td { white-space:nowrap; }
table.list-pc tbody tr:first-child td { border-top:0 !important; }
table.list-pc .list-now { background: #fafafa; }
table.list-pc .list-img img { width:40px; height:40px; border-radius:50%; }
table.list-pc .list-img i { width: 40px; height: 40px; line-height:40px; margin:0px; font-size: 24px; background: rgb(238, 238, 238); border-radius:50%; text-align: center; color: rgb(255, 255, 255); display: inline-block; }
table.list-pc .list-subject { text-align:left !important;  white-space:normal !important;}
table.list-pc .list-subject a { display:block; }
table.list-pc .list-subject.now { font-weight:bold !important; }
table.list-pc .list-subject.notice { font-weight:bold !important; }
table.list-pc .list-none { padding:100px 0px; }

/* 모바일 목록 */
.list-mobile { margin-bottom:15px; border-top:1px solid #eee; }
.list-mobile strong { font-weight:normal; margin:0px; line-height:40px; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.list-mobile.no-img strong { line-height:30px; }
.list-mobile strong.notice a { font-weight:bold; }
.list-mobile strong.best a { }
.list-mobile strong.now a { font-weight:bold; color:crimson; }
.list-mobile .list-img img { width:40px; height:40px; border-radius:50%; }
.list-mobile .list-img i { width: 40px; height: 40px; line-height:40px; margin:0px; font-size: 24px; background: rgb(238, 238, 238); border-radius:50%; text-align: center; color: rgb(255, 255, 255); display: inline-block; }
.list-mobile .list-cnt { color: orangered; font-size: 12px; font-weight:bold; font-family:verdana; letter-spacing:-1px; }
.list-mobile .media { border-bottom:1px solid #eee; margin:0px; padding:6px 8px; }
.list-mobile .media.list-notice {  background:#fafafa; }
.list-mobile .media.list-now { background:#fafafa; }
.list-mobile :first-child.media { margin-top:0px; }
.list-mobile .media .media-body { padding-left:0px; }

/* 목록 공통 */
.list-wrap { width:100%; }
.list-btn-box { margin-bottom: 15px; }
.list-btn-box a span { margin-left: 4px; }
.list-btn-box .sort a { color:crimson !important; font-weight:bold !important; }
.list-btn-box .dropdown-menu { font-size: 12px; }
.list-none { margin:0px 0px 15px; padding:80px 0px; }
.list-page { margin-bottom:15px; }
.list-page .pagination { margin:0; }

/* 아이콘 */
.list-wrap .wr-text { font-family:dotum; font-size:11px; letter-spacing:-1px; line-height:11px; font-weight:normal; }
.list-wrap .wr-icon { display:inline-block; padding:0px; margin:0px; overflow:hidden; vertical-align:middle; background-repeat: no-repeat; background-position: left top; }
.list-wrap .wr-notice { width:37px; height:19px; background-image: url('./img/icon_notice.gif'); }
.list-wrap .wr-new { width:12px; height:12px; background-image: url('./img/icon_new.gif'); }
.list-wrap .wr-secret { width:12px; height:12px; background-image: url('./img/icon_secret.gif'); }
.list-wrap .wr-hot { width:12px; height:12px; background-image: url('./img/icon_hot.gif'); }

/* 내용 공통 */
.view-wrap { width:100%; overflow:hidden; }
.view-wrap .img-photo i { background: rgb(245, 245, 245); padding: 16px; border-radius: 50%; width: 80px; height: 80px; text-align: center; color: rgb(143, 143, 143); font-size: 40px; display: inline-block; }
.view-wrap .img-photo img { border-radius: 50%; width: 80px !important; height: 80px !important; display:inline-block; }
.view-wrap .img-resize img { max-width:100%; height:auto; }
.view-wrap h1 { font-size: 22px; font-weight:bold; margin:0px; line-height:50px; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; margin:0px; padding:0px 10px; color: rgb(59, 62, 67); letter-spacing:-1px; }
.view-wrap h1 .photo { border-radius: 50%; width: 50px; height: 50px; margin-bottom:10px; margin-right:10px; }
.view-wrap .no-attach { border-bottom:0px; }

.view-btn { margin:0px 0px 30px; }
.view-btn i { margin-right:2px; }

.view-head { border-left:0px; border-right:0px; }
.view-head .sp { display:inline-block; width:20px; text-align:center; font-size:11px; color:#888; }
.view-head .list-group-item { padding:5px 15px; border-style:dotted; }
.view-tag { margin:10px 0px; padding:0px; color:#888; }
.view-tag a { color:#888; }
.view-tag a:hover { color:crimson; }
.view-cnt { margin-top:4px; }
.view-img img { display:block; max-width:100%; margin:0 auto 15px; border:0; height:auto; }
.view-content { padding:0px 15px 20px }
.view-mobile .view-content { padding:0px 0px 20px; }
.view-content img { width:auto; height:auto; max-width:100%; }
.view-content p { padding:0; margin:0; line-height:22px; }
.view-good-box { text-align:center; }
.view-good-box span { margin:15px 6px; width:80px; height:80px; display:inline-block; }
.view-good-box a { background: rgb(245, 245, 245); padding-top:14px; border-radius: 50%; width: 80px; height: 80px; text-align: center; color: rgb(51, 51, 51); font-size: 22px; line-height:26px; display: inline-block; }
.view-good-box .view-good a:hover { background: rgb(223, 17, 25); color: rgb(255, 255, 255); }
.view-good-box .view-nogood a:hover { background: rgb(0, 0, 0); color: rgb(255, 255, 255); }
.view-author .auth-photo { width:160px; padding-right:15px; }
.view-comment { color: rgb(51, 51, 51); font-family: "Roboto", sans-serif; margin: 0px 0px 10px; padding: 0px 0px 5px; text-transform: capitalize; overflow: hidden; font-size: 20px; font-weight: 500; border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block; position: relative; }

#bo_v_sns {margin:4px 0 15px;padding:0;list-style:none;zoom:1}
#bo_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_sns li {float:left;margin:0 5px 0 0}

/* 댓글 */
.comment-media { }
.comment-media .photo i { background: rgb(245, 245, 245); padding: 15px; border-radius: 50%; width: 64px; height: 64px; text-align: center; color: rgb(143, 143, 143); font-size: 30px; display: inline-block; }
.comment-media .photo img { border-radius: 50%; width: 64px !important; height: 64px !important; display:inline-block; }
.view-mobile .comment-media .photo i { padding: 10px; width: 54px; height: 54px; }
.view-mobile .comment-media .photo img { width: 54px !important; height: 54px !important; }

.comment-media .media { border-top:1px solid #eee; margin:7px 0px; padding:7px 0px 0px; }
.comment-media :first-child.media { border-top:0px; margin-top:0px; padding-top:0px; }
.comment-media h5 { margin:2px 0px; line-height: 22px; }
.comment-media .media .media-body { padding-left:0px; }
.comment-media .media .media-info { margin-left:10px; }
.comment-media .media .media-content {	margin-top:8px; }
.comment-media .media .media-btn {	margin-left:4px; }
.comment-media .cmt-good-btn { text-align:right; padding-right:1px; }
.comment-media .cmt-good, .comment-media .cmt-nogood { display:inline-block; width:74px; height:20px; margin-top:10px; padding-right:10px; margin-right:-1px; font:bold 11px verdana; text-align:right; letter-spacing:-1px; line-height:19px; cursor:pointer; }
.comment-media .cmt-good { background: url('./img/cmt_good.gif') no-repeat left center; color:#f4695b; }
.comment-media .cmt-nogood { background: url('./img/cmt_nogood.gif') no-repeat left center; color:#888; }

#bo_vc_opt ol {	margin:0;padding:0;list-style:none;zoom:1; }
#bo_vc_opt ol:after { display:block;visibility:hidden;clear:both;content:""; }
#bo_vc_opt ol li { float:left;margin:0; }
#bo_vc_send_sns ul { margin:0;padding:0;list-style:none;zoom:1; }
#bo_vc_send_sns ul:after { display:block;visibility:hidden;clear:both;content:""; }
#bo_vc_send_sns ul li {	float:left;margin:0 0 0 20px; }
#bo_vc_send_sns input {	margin:0 0 0 5px; }

/* 쓰기 공통 */
.write-wrap { width:100%; overflow:hidden; }
.write-wrap h2 { padding:0px; margin:0px; font-size:14px; font-weight:bold; }
.write-wrap label { font-weight:bold; margin-top:4px; }
.write-wrap .write-content { height: 300px; }
.write-wrap .write-file { border:0;box-shadow:none; }
.write-wrap .write-btn { margin:15px 0px 25px; text-align:center; }
.write-wrap .delete-file { margin:0px; padding:0px 10px; font-weight:normal; }
.write-wrap .delete-file label { font-weight: normal; }
.write-wrap .sp-label { font-weight:normal; margin-right:10px; }
.write-wrap .sp-label input[type="checkbox"], .write-wrap .sp-label input[type="radio"] { margin-top:0px; }

#autosave_pop div { text-align:right; }
#autosave_pop button { margin:0; margin-left:10px; padding:0; border:0; background:transparent; color:#888; }
#autosave_pop ul { margin:0; padding:0; padding-left:15px; list-style:disc; }
#autosave_pop li { padding:2px 5px;  }
#autosave_pop li:after { display:block; visibility:hidden; clear:both; content:""; }
#autosave_pop a { display:block; float:left; }
#autosave_pop span { display:block;; float:right; }

/* 반응형 공통 */
@media all and (max-width:460px) {
	.responsive .list-btn { text-align:center; margin:0px auto; }
	.responsive .pull-right.list-btn { float:none !important; margin-bottom:14px; }
	.responsive .view-wrap h1 { text-overflow:clip; overflow:none; white-space:normal; line-height: 24px; font-size: 18px; margin-bottom:10px; }
	.responsive .view-wrap h1 .photo { display:none; }
	.responsive .view-btn i { margin-right:0px; }
	.responsive .view-author .auth-photo { float:none; width:100%; padding-right:0px; }
	.responsive .comment-btn { text-align:center; }
	.responsive .comment-btn .pull-right { float:none !important; }
}


table {
  border-collapse: collapse;
  width: 100%;
}
table,
td,
th {
  border: none;
}
th {
  font-weight: normal;
}

caption {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.fs-big2 { font-size: 16px; }
.letter-spacing { letter-spacing: -0.5px; }

/* 필수입력 */
.required, textarea.required {background-image:url('./img/require.png')  !important;background-repeat:no-repeat   !important;background-position:right top  !important;}

/* 폼 테이블 */
.wr_content textarea,.frm_input {
	border:1px solid #ccc;
	background:#fff;
	color:#000;
	vertical-align:middle;
	border-radius:3px;
	padding:5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.frm_input {height:34px;}
.full_input {width:100%}
.half_input {width:49.5%}

a.btn_frmline, button.btn_frmline {
	display:inline-block;
	padding:0 5px;
	height:34px;
	border:0;
	background:#3c3c3c;
	border-radius:5px;
	color:#fff;
	text-decoration:none;
	vertical-align:top
} /* 우편번호검색버튼 등 */
a.btn_frmline {}
button.btn_frmline {font-size:1em}

.btn-full { width: 100%; }
.btn-xlarge { padding: 16px 50px; font-size: 19px; font-weight: bold; }
.btn-large { padding: 12px 28px; font-size: 17px; font-weight: bold; }
.btn-small { padding: 2px 16px; font-size: 12px; line-height: 20px; -webkit-border-radius: 3px; border-radius: 3px; }
.btn-mini { padding: 0 8px; font-size: 11px; line-height: 18px; -webkit-border-radius: 2px; border-radius: 2px; }



#content {
  width: 100%;
  float: none;
  Padding:0 0 50px 0;
}

/* page content */
.page_cont {
  padding: 10px 0;
  /*min-height: 500px;*/
}

.bd_box {
  clear: both;
  border: 1px solid #ddd;
  background-color: #FFF;
  padding: 40px 0;
  /* bold_bd */
}

.att_desc {
  margin-top: 5px;
  font-size: 11px;
  color: #999;
  text-align: right;
}
.att_desc em {
  color: #f71426;
}
.bb_counsel {
  padding: 0 40px;
}
.bb_counsel .tb_wt {
  margin-top: 7px;
  border-top: 1px solid #B5B5B5;
  border-bottom: 1px solid #B5B5B5;
  background-color: #fff;
}
.bb_counsel .tb_wt tbody tr:first-child th,
.bb_counsel .tb_wt tbody tr:first-child td {
  border-top: 0;
}
.bb_counsel .tb_wt tbody tr th,
.bb_counsel .tb_wt tbody tr td {
  border-top: 1px solid #EAEAEA;
  padding: 10px 10px;
  text-align: left;
}
.bb_counsel .tb_wt tbody tr th {
  font-weight: 700;
  color: #666;
  padding-left: 20px;
  background-color: #F9F9F9;
  border-right: 1px solid #EAEAEA;
  border-left: 1px solid #EAEAEA;
}
.bb_counsel .tb_wt tbody tr th:first-child {
	border-left: 0;
}
.bb_counsel .tb_wt tbody tr th em {
	font-weight: normal;
	color: #f71426;
}

.bb_counsel .tb_wt table tr td div.hidden_div {display:none}
.bb_counsel .tb_wt tbody tr td p {
	margin-top: 6px;
}

.bb_counsel .select,
.bb_counsel .select select,
.bb_counsel input,
.bb_counsel .symbol {vertical-align:top;}
.bb_counsel .input_txt{padding-right:0;}
.bb_counsel .select.w100 select {width:68px;}
.bb_counsel .input_txt.w100 input {width:100px;}
.bb_counsel .input_txt.w150 input {width:150px;}
.bb_counsel .input_txt.w200 input {width:200px;}
.bb_counsel .symbol {display:inline-block; height:34px; padding:0 6px; line-height:34px;}
.bb_counsel .msg_desc {margin-left:10px; color:#888; font-size:12px; line-height:34px;}

@media only screen and (max-width: 1024px) {
	#content {
		width: 100% !important;
		float: none;
		margin: 0;
		padding-right: 0;
	}
	.page_cont {
		padding: 20px 10px;
		/*min-height: 500px;*/
	}

	/* border box */
	.bd_box {

	}
	.bd_box:after {
		display: block;
		clear: both;
		content: '';
		height: 0;
	}

}

@media all and (max-width:767px) {

	.att_desc { display:none }
	.frm_input { width:100%; }

	.bd_box {

	}
	.bd_box .bb_counsel {padding:0 5%;}

	.bb_counsel .select.w100 select { width:100%; }
	.bb_counsel .input_txt.w100 input { width:100%; }
	.bb_counsel .input_txt.w150 input { width:100%; }
	.bb_counsel .input_txt.w200 input { width:100%; }
	.bb_counsel .symbol { display:none; }
	.bb_counsel .input_txt select { margin-top:10px; }
	.bb_counsel .input_txt input { margin-top:10px; }
	.bb_counsel .msg_desc {margin-left:0px;}

	.bb_counsel {}
	.bb_counsel .tb_wt {}
    .bb_counsel .tb_wt table {}
    .bb_counsel .tb_wt table th {display:none;width:0;}
    .bb_counsel .tb_wt table td {width:auto !important;line-height:28px;}
	.bb_counsel .tb_wt table td label {white-space:nowrap}
	.bb_counsel .tb_wt table tr td div.hidden_div {display:block;font-weight:bold;}
	.bb_counsel .tb_wt table tr td div.hidden_div em {color:#F71426}
	.bb_counsel .tb_wt table td input[type=text] {max-width:100%}
	.bb_counsel .tb_wt table td input[type=file] {max-width:100%}

}